<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-between"> 
      <a class="navbar-brand" href="/main"><img src="assets\atomo (1).png" alt="" style="width: 26px;"> &nbsp; Medical Center  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <br>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto right">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="crearServicio">
              Servicios
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="medico">
              Medicos
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="cita">
              Citas
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="registrarse">
              Personas
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="factura">
              Facturas
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="historial_clinico">
              Historial Clinico
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="especialidad">
              Especialidad</a>
          </li>
        </ul>
      </div>
      <div>

      </div>
    </div>
</nav>