/* Estilos para el contenedor principal */
.container_background {
    padding: 40px;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C9D6FF, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f2fcfe, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Estilos para el contenedor principal de los servicios */
.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el título "Nuestros Servicios" */
.container_main .container_textos h2 {
    font-size: 1.5em;
    font-family: "ITC Avant Garde Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    margin-block-start: 0.5em; /* Reducir el espacio superior */
    margin-block-end: 0.5em; /* Reducir el espacio inferior */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Estilos para el contenedor de las tarjetas */
.container_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilos para cada tarjeta de servicio */
.container_cards .card {
    width: 18rem;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
}

/* Estilos para el contenedor de información de cada servicio */
.container_servicios_stock {
    flex: 1; /* Hace que el contenedor de información ocupe todo el espacio posible */
    display: flex;
    flex-direction: column;
}


/* Estilos adicionales para hacer que el contenido se vea más atractivo */
.card-title {
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-subtitle {
    color: #666;
    font-size: 1em;
    margin-bottom: 10px;
}

/* Estilos para el contenedor de precio y cantidad */
.container_servicios_stock .card-text-precio,
.container_servicios_stock .card-text-cantidad,
.container_servicios_stock .card-text-estado {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

/* Estilos para el texto del precio */
.container_servicios_stock .card-text-precio::before {
    content: "Precio: ";
    font-weight: bold;
}

/* Estilos para el texto de la cantidad */
.container_servicios_stock .card-text-cantidad::before {
    content: "Cantidad: ";
    font-weight: bold;
}

/* Estilos para el texto del estado */
.container_servicios_stock .card-text-estado::before {
    content: "Estado: ";
    font-weight: bold;
}

/* Estilos para el contenedor de información de cada servicio */
.container_servicios_stock {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* Eliminar el margen en los párrafos */
.container_servicios_stock p {
    margin: 0;
}

/* Estilos para el texto del precio */
.container_servicios_stock .card-text-precio::before {
    content: "Precio: ";
    font-weight: bold;
}

/* Estilos para el texto de la cantidad */
.container_servicios_stock .card-text-cantidad::before {
    content: "Cantidad: ";
    font-weight: bold;
}

/* Estilos para el texto del estado */
.container_servicios_stock .card-text-estado::before {
    content: "Estado: ";
    font-weight: bold;
}

/* Ajustar el margen inferior del subtítulo de la tarjeta */
.card-subtitle {
    margin-bottom: 0;
}


