<div class="container_principal d-flex justify-content-center align-items-center">
    <div class="card rounded-lg border-0 shadow-lg p-5" style="background-color: #f9f9f9;">
      <div class="card-body text-center">
        <h2 class="card-title mb-4" style="color: #333;">¡Bienvenido a nuestra Aplicación!</h2>
        <p class="card-text lead mb-5" style="color: #555;">Inicia sesión o regístrate para continuar</p>
        <div class="d-grid gap-3">
          <a class="btn btn-primary btn-lg" [routerLink]="['/registrarse']">Registrarse</a>
          <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Iniciar sesión</a>
        </div>
      </div>
    </div>
  </div>