<div class="container_login_main">
    <!-- <div class="container_logo">
      <a href="#" class="navbar-brand"><img src="assets\atomo (1).png" width="35px"> &nbsp; Medical Center </a>
    </div> -->
  
    <div class="container container_registro">
      <div class="container_texto">
        <h4>Agregar Medico</h4>
      </div>
  
      <br>
  
      <form (ngSubmit)="form_register()">
        <div class="form-group">
          <label class="form-label">Teléfono consultorio</label>
          <input name="telefono_consultorio" class="form-control" type="text" [(ngModel)]="medico.telenoConsultorio">
        </div>
  
        <div class="form-group">
          <label class="form-label">Médico</label>
          <select name="medico" class="form-select" aria-label="Default select example" [(ngModel)]="medico.persona_id">
            <option value="" disabled selected>Seleccione un médico</option>
            <!-- Utiliza *ngFor para recorrer la lista de médicos y mostrarlos en el select -->
            <option *ngFor="let medico of personasMedicos" [value]="medico.persona_id">
              {{ medico.nombre }} {{ medico.apellido }}
            </option>
          </select>
        </div>
  
        <div class="form-group">
          <label class="form-label">Especialidad</label>
          <select name="especialidad" class="form-select" aria-label="Default select example" [(ngModel)]="medico.especialidad_id">
            <option value="" disabled selected>Seleccione una especialidad</option>
            <!-- Utiliza *ngFor para recorrer la lista de especialidades y mostrarlas en el select -->
            <option *ngFor="let especialidad of especialidades" [value]="especialidad.especialidad_id">
              {{ especialidad.especialidad }}
            </option>
          </select>
        </div>
  
        <!-- ... Otras partes de tu código ... -->
  
        <div class="button-container">
          <button class="btn btn-primary">Agregar Médico</button>
        </div>
      </form>
      <br>
    </div>
  </div>