<div class="container_login_main">


    <!-- <div class="container_logo">
      <a href="#"  class="navbar-brand"><img src="assets\atomo (1).png" width="35px"> &nbsp;  Medical Center  </a>
    </div> -->

    <div class="container container_registro">
      <section class="section_title">
        <h3 style="display: flex; justify-content: space-between;">Login <a href="#"  class="navbar-brand"><img src="assets\atomo (1).png" width="35px"></a> </h3>
        <br>
        <p>Inicia sesion para poder acceder a todos los servicios que ofrecemos.</p>
      </section>
  
      <br>
  
      <form class="form_register">
  
        <div class="form-group">
          <label class="form-label">Correo</label>
          <input class="form-control" type="email">
        </div>
  
        <div class="form-group">
          <label class="form-label">Contraseña</label>
          <input class="form-control" type="password">
        </div>
        
        <br>
  
        <div class="button-container">
          <button class="btn btn-primary" type="button">Iniciar Sesion</button>
        </div>
      </form>
      <br>

      <div class="container_seccion_registrarse">
        <p>Aun no tienes una cuenta? <a href="registrarse"> Ve a registrarte </a> </p>
      </div>
      <br>
    </div>
  
  </div>
  