<div class="container_login_main">


    <!-- <div class="container_logo">
      <a href="#"  class="navbar-brand"><img src="assets\atomo (1).png" width="35px"> &nbsp;  Medical Center  </a>
    </div> -->

    <div class="container container_registro">
      <section class="section_title">
        <h3 style="display: flex; justify-content: space-between;">Login</h3>
        <br>
        <p>Inicia Sesión para poder acceder a todos los servicios que ofrecemos.</p>
      </section>
  
      <br>
  
      <form  (ngSubmit) = "form_login()">
  
        <div class="form-group">
          <label class="form-label">Usuario</label>
          <input [(ngModel)]="usuario.username" class="form-control" name="username" type="text">
        </div>
  
        <div class="form-group">
          <label class="form-label">Contraseña</label>
          <input [(ngModel)]="usuario.password" class="form-control" name="password" type="password">
        </div>
        
        <br>
  
        <div class="button-container">
          <button class="btn btn-primary">Iniciar Sesión</button>
        </div>
      </form>
      <br>

      <div class="container_seccion_registrarse">
        <p>¿Aún no tienes una cuenta? <a href="registrarse"> Ve a Registrarte </a> </p>
      </div>
      <br>
    </div>
  
  </div>
  