  <app-navbar></app-navbar>
  
  <div class="container_background">
    <div class="container container_main">
      <div class="container_textos">
        <h2 class="container_texto_principal">Revolucionando la salud con citas médicas ágiles y atención personalizada de primer nivel</h2>
        <span class="container_subtexto">Optimizamos tu <strong>atención médica</strong> en citas médicas con un enfoque seguro y escalable, brindándote un servicio de calidad </span>
        <br><br><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-begin">
          <a  class="btn btn-primary" href="registrarse">Empezemos</a>
          <button type="button" class="btn btn-outline-primary">Contactanos </button>
        </div>
        </div>
      <div class="container_carousel">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets\einstein.png" class="d-block w-50" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets\explosion.png" class="d-block w-50" alt="...">
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex align-items-center justify-content-center">
                <img src="assets\nucleo.png" class="d-block w-50" alt="...">
              </div>
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="container_footer">
        
          <span class="custom_span"></span>

          <footer class="container_texto_footer">
              <p>Más enlaces en @nose</p>
          </footer>

        </div>
      </div>
    </div>
  </div>

  <app-servicios></app-servicios>