<div class="container_login_main">


    <!-- <div class="container_logo">
      <a href="#"  class="navbar-brand"><img src="assets\atomo (1).png" width="35px"> &nbsp;  Medical Center  </a>
    </div> -->

    <div class="container container_registro">
      <section class="section_title">
        <h3 style="display: flex; justify-content: space-between;">Crear Servicio <a href="/main"  class="navbar-brand"><img src="assets\atomo (1).png" width="35px"></a> </h3>
        <br>
        <p>Ingresa los datos para crear un nuevo servicio</p>
      </section>
  
      <br>
  
      <form  (ngSubmit) = "form_register()" #servicioForm="ngForm">
  
        <div class="form-group">
          <label class="form-label">Nombre Servicio</label>
          <input  [(ngModel)]="servicio.nombreServicio" name="nombreServicio" class="form-control" type="text" required>
        </div>
  
        <div class="form-group">
          <label class="form-label">Precio</label>
          <input  [(ngModel)]="servicio.precio" name="precio" class="form-control" type="number" required>
        </div>
        
        <div class="form-group">
            <label class="form-label">Iva</label>
            <input [(ngModel)]="servicio.iva" name="iva" class="form-control" type="number" required>
        </div>

        <div class="form-group">
            <label class="form-label">Cantidad</label>
            <input [(ngModel)]="servicio.cantidad" name="cantidad" class="form-control" type="number" required>
        </div>

        <div class="form-group">
            <label class="form-label">Estado</label>
            <select [(ngModel)]="servicio.estado" name="estado" class="form-select" aria-label="Default select example" required> 
                <option disabled selected>Seleccione una opción</option>
                <option value="activo">activo</option>
                <option value="inactivo">inactivo</option>
            </select>
        </div>
        
        <br>
  
        <div class="button-container">
          <button class="btn btn-primary" [disabled]="!servicioForm.form.valid">Crear Servicio</button>
        </div>

        <div class="button-container">
          <button class="btn btn-success" [disabled]="!servicioForm.form.valid">Actualizar Servicio</button>
        </div>


      </form>
      <br>

    </div>
  
  </div>
  